/******************/
/* All Carbon Ads */
/******************/

@media (min-width: 1200px) {
	#carbonads {
		padding: 10px;
		line-height: 20px;
	}
	
	#carbonads .carbon-img {
		width: 130px;
		height: 100px;
	}
	
	#carbonads a.carbon-text {
		display: block;
		text-decoration: none;
		margin: 10px 0;
	}
	
	#carbonads span.carbon-wrap:after {
		display: table;
		content: " ";
		clear: both;
	}
	
	#carbonads .carbon-poweredby {
		font-size: 10px;
		color: #777;
		display: block;
	}
}

@media (max-width: 1199px) {
	#carbonads {
		display: none;
	}
}

/*******************/
/* Ad on Chat page */
/*******************/

#carbon {
	position: absolute;
	width: 100%;
	padding-right: 20px
}

#carbon #carbonads {
	width: 100%;
	margin: 0;
	background-color: #d9edf7;
	border: 1px solid #afd9ee;
}

#carbon #carbonads .carbon-img {
	float: left;
	margin: 0 10px 10px 0;
}

#carbon #carbonads a.carbon-text {
	margin: 0 0 10px 0;
}